/*style*/
/*fonts*/
@font-face {
  font-family: Proxima-Nova-Reg;
  src: url(../fonts/proxima_nova_regular-webfont.woff);
  font-weight: normal;
}

@font-face {
  font-family: Proxima-Nova-Reg;
  src: url(../fonts/proxima_nova_regular-webfont.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Proxima-Nova-Semibold;
  src: url(../fonts/proxima_nova_semibold-webfont.woff);
  font-weight: normal;
}

@font-face {
  font-family: Proxima-Nova-Semibold;
  src: url(../fonts/proxima_nova_semibold-webfont.woff2);
  font-weight: normal;
}

/*end of fonts*/
/*variables*/
/*/variables*/
/*general*/
html,
body,
p,
h1,
h2,
h3,
h4,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.hide {
  display: none;
}

/*end of general*/
/*btn*/
.btn-menu {
  display: block;
  width: 24px;
  height: 17px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
}

.btn-menu svg {
  width: inherit;
  height: inherit;
}

.btn-enter {
  display: block;
}

.btn-enter svg {
  display: none;
}

/*/btn*/
/*typography*/
.text-reg, .text-xs, .text-md, .text-xs-common, .select .jq-selectbox__select-text, .text-md-common {
  font-family: Proxima-Nova-Reg, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}

.text-xs {
  font-size: 16px;
}

.text-md {
  font-size: 24px;
}

.text-xs-common, .select .jq-selectbox__select-text {
  font-size: 16px;
  color: #142e99;
}

.text-xs-common a, .select .jq-selectbox__select-text a {
  color: #142e99;
}

.text-md-common {
  font-size: 24px;
  color: #142e99;
  line-height: 1.33em;
}

.text-md-common a {
  color: #142e99;
}

.white {
  color: #fff;
}

/*/typography*/
/*select*/
.select {
  width: 256px;
  height: 48px;
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;
  border: solid 1px #142e99;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.select .jq-selectbox {
  width: inherit;
  height: inherit;
}

.select .jq-selectbox__select {
  display: table-cell;
  vertical-align: middle;
  width: inherit;
  height: inherit;
  padding-left: 24px;
  padding-right: 31px;
}

/*/select*/
/*form*/
.form__item {
  margin-bottom: 16px;
}

.form__item:last-child {
  margin-bottom: 0;
}

/*/form*/
/*up-message*/
.up-message {
  display: none;
  background: #f92855;
}

/*/up-message*/
/*intro*/
.intro__buttons {
  padding-bottom: 15px;
  background: #142e99;
}

.intro__menu-btn {
  margin-top: 15px;
  margin-left: 32px;
  float: left;
}

.intro__enter-btn {
  margin-top: 14px;
  margin-right: 32px;
  float: right;
}

/*/intro*/
/*intro-slider*/
.intro-slider__item {
  min-height: 192px;
  background: transparent url("../img/slide-01.jpg") no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.intro-slider__nav {
  display: none;
}

/*/intro-slider*/
/*info-block*/
.info-block {
  padding: 64px 28px 40px;
}

.info-block__header {
  margin-bottom: 63px;
}

.info-block__logo {
  width: 180px;
  margin-bottom: 19px;
}

/*/info-block*/
/*/style*/
