/*promo*/
.promo {

  &__list {
    padding-bottom: 46px;
  }

  &__title {
    display: none;

    margin-top: 30px;
    margin-left: 20px;
  }

  &__wrapper {
    padding: 52px 0 47px;

    width: 256px;
    margin: 0 auto;
  }

  &__img {
    display: block;

    margin: 0 auto 13px;
  }

  &__item-title {
    margin-bottom: 38px;

    text-align: center;
  }

  &__text {
    line-height: 2em;
    text-align: center;
  }

  &__btn {
    margin: 0 auto;
  }

  &--call {
    padding-bottom: 60px;

    .promo {

      &__wrapper {
        padding: 25px 0 0;
      }

      &__slider {
        margin-bottom: 31px;
      }

      &__title {
        display: block;
      }

      &__nav {
        position: absolute;
        bottom: -125px;
        left: 50%;
        margin-left: -33px;
      }

      &__item-title {
        margin-bottom: 0;
      }
    }
  }

  //iPhone 6 landscape
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    &__title {
      display: block;

      margin-left: 0;

      text-align: center;
    }

    &__wrapper {
      padding-top: 34px;
      width: 512px;
    }

    &__img {
      float: left;
    }

    &__item-title {
      width: 256px;

      margin-top: 14px;
      margin-left: 256px;
    }

    &__text {
      width: 256px;

      margin-left: 256px;
    }

    &--call {

      .promo {

        &__title {
          margin-bottom: 26px;
        }

        &__wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__img {
          float: none;
        }

        &__item-title {
          margin-bottom: 0;
          margin-left: 0;
        }
      }
    }
  }

  //iPhone 5 landscape
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    &__title {
      display: none;
    }

    &__wrapper {
      padding-top: 52px;
      width: 256px;
    }

    &__img {
      float: none;
    }

    &__item-title {
      width: auto;

      margin-top: 0;
      margin-left: 0;
    }

    &__text {
      width: auto;

      margin-left: 0;
    }

    &--call {

      .promo {

        &__title {
          margin-bottom: 0;
        }

        &__wrapper {
          display: block;
        }
      }
    }
  }
}
/*promo*/