/*variables*/
//colors
$color-red-radical: #f92855;
$color-torea-bay: #142e99;
$color-alto: #dddddd;

//widths
$width-lg: 1200px;

//font-size
$fz-xxs: 12px;
$fz-xs: 16px;
$fz-sm: 18px;
$fz-md: 24px;
/*/variables*/